.three {
    background: var(--color-white);
    color: var(--color-darkgrayishblue);
    height: 22.2rem;
    width: 32.7rem;
}

.three .profile__status {
    color: var(--color-alphadarkgrayishblue);
}

.three .card__testimonial {
    color: var(--color-alphadarkgrayishblue);
}

/* @media screen and (min-width:1200px) and (min-height:600px) {
    .three {
        width: 25.5rem;
        height: 26.6rem;
        grid-column: 1;
        grid-row: 2;
    }
} */