.card {
    width: 33rem;
    height: 78rem;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0rem 0rem 1rem 1rem;
    text-align: center;
    display: grid;
    grid-template-areas:'card__image'
    'card__content';
}

#card__image {
    width: 32.7rem;
    height: 24rem;
    grid-area: card__image;
    border-radius: 1rem 1rem 0rem 0rem;
    background-image: url("../images/image-header-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card__content {
    grid-area: card__content;
    height: 54rem;
    padding: 3.8rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}