.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21.3rem;
}

.content__title {
    font-family: 'Inter', sans-serif;
    font-size: 2.8rem;
    line-height: 3.2rem;
    color: hsl(0, 0%, 100%);
}

.content__paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}