@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%; /* Converte o tamanho raiz das fontes para 10px */
}

body {
    height: 95.6rem;
    width: 37.5rem;
    background-color: hsl(233, 47%, 7%);
    font-size: 1.5rem; /* Regulariza o tamanho de fonte */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 33rem;
    height: 78rem;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0rem 0rem 1rem 1rem;
    text-align: center;
    display: grid;
    grid-template-areas:'card__image'
    'card__content';
}

#card__image {
    width: 100%;
    grid-area: card__image;
    border-radius: 1rem 1rem 0rem 0rem;
}

#card__content {
    grid-area: card__content;
    height: 54rem;
    padding: 3.8rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21.3rem;
}

.content__title {
    font-family: 'Inter', sans-serif;
    font-size: 2.8rem;
    line-height: 3.2rem;
    color: hsl(0, 0%, 100%);
}

strong {
    color: hsl(277, 64%, 61%);
}

.content__paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.stats {
    height: 21.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats__group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 5.5rem;
}

.stats__value {
    font-size: 2.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsla(0, 0%, 100%);
}

.stats__product {
    font-size: 1.3rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */