.sedan {
    background: var(--color-brightorange);
    border-radius: .8rem 0 0 .8rem;
}

.sedan .card__button {
    color: var(--color-brightorange);
}

@media screen and (max-width: 500px) { 
    .sedan {
        border-radius: .8rem .8rem 0 0;
    }
}